
body {
		font-family: Arial, Helvetica, sans-serif;
		margin: 0;
	}

/* formats the red message boxes */
.msg {
	border: 1px solid red;
	font-weight: bold;
	color: red;
	padding: 1em;
	margin: 2em;
}

header {
	background-color: #ccc;
	border-bottom: 5px solid grey;
	height: 8vw;
}

h1 {
	margin: 0;
	padding: 2.6vw;
	float: left;
	font-size: 3vw;
	color: #444;
}

header > a {
	margin-top: 3vw;
	margin-right: 3vw;
	float: right;
	font-size: 1.3vw;
}

p {
	font-size: 1.5vw;
}

main {
	margin-left: 3vw;
}

main a {
	color: black;
	text-decoration: underline;
}

main a:hover {
	color: red;
	text-decoration: none;
}

/* ===== FORMS ===== */

input[type="submit"], header > a {
  background-color: grey;
  border: 2px solid grey;
  color: white;
  padding: 0.4vw 0.8vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
}

input[type="submit"]:hover, header > a:hover {
  color: grey;
  background-color: white;
}

input[type="text"], input[type="email"], input[type="password"] {
	font-size: 1.5vw;

}
